
<%= form_for(@topic) do |f| %>
<% if @topic.errors.any? %>
<div id="error_expanation">
    <h3><%= @topic.errors.count %>件のエラーがあります</h3>

    <ul>
        <% @topic.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
        <% end %>
    </ul>
</div>
<% end %>

<%= f.label :投稿内容 %>
<%= f.text_field :content, class: 'form-control'%>
<br>

<%= f.label :写真 %>
<%= topic_img(@topic) if topic_img(@topic) %>
<%= f.file_field :image, class: 'center-block' %>
    <%= f.hidden_field :image_cache %>
<br>

<%= f.submit '投稿', class: 'btn btn-primary btn-success' %>
<% end %>
<br>

<%= link_to "写真一覧画面に戻る", topics_path %>
