<br><br><br><br>
<% @pics.each do |pic| %>
<div class="container">
  <div class="row">
    <div class="wrapper col-xs-6 col-sm-4 col-md-4">
      <h5><p><%= image_tag pic.image%></p></h5>
      <h5><p><%= pic.user.name %></p></h5>
      <h5><p><%= pic.content %></p></h5>
      <%= link_to "編集", edit_pic_path(pic.id), class: 'btn btn-primary btn-success' %>
      <%= link_to "削除", pic_path(pic.id), method: :delete, class:'btn btn-primary btn-success' %>
    </div>
    <% end %>
  </div>
  <p><%= notice %></p>
  <%= link_to "投稿する", new_pic_path, class: 'btn btn-default' %>
</div>

      
      


