<!DOCTYPE html>
<html>
<head>
  <title>fakebuss</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= csrf_meta_tags %>
</head>
<body>

<header>
  <ul>
    <h2><li><%= link_to "fakebuss", root_path %></li></h2>
  </ul>
</header>

<%= yield %>

<footer>
  <p>運営会社トリックマーケット</p>
  <p>(c) 2017 Copyright Trick Market</Marc>.</p>
</footer>


</html>